/** @color Primary Blue */
$primary: #4357ad;

/** @color Secondary Dark Blue */
$secondary: #160c28;

/** @color Background White */
$background: #ffffff;

/** @color Accent Baby Pink */
$accent-babypink: #dec3be;

/** @color Accent Pink */
$accent-pink: #c41552;

/**
 * @section Grayscale
 * @color Whitesmoke
 */
$color-whitesmoke: #EFEFEF;

/**
 * @section Grayscale
 * @color Light Gray
 */
$color-lightgray: #D8D8D8;

/**
 * @section Grayscale
 * @color Gray
 */
$color-gray: #9B9B9B;

/**
 * @section Grayscale
 * @color Dark Gray
 */
$color-darkgray: #4A4A4A;

/**
 * @section Grayscale
 * @color Black
 */
$color-black: #000000;

