// @include monospace();
// @include monospace(300);

@import "mixins";
@import "colors";

body, p, span {
	@include helvetica();
}

/**
 * Paragraphs should be plain and simple. Indentation goes to the right for the sake of readability.
 *
 * @atom Paragraph
 * @section Text
 * @markup
 * 	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
 * </p>
 */
p{}

/**
 * @atom Primary Button
 * @section Buttons
 * @markup
 * 	<button class="ui primary button">
 *  	Cool primary button
 * 	</button>
 */
button.ui.primary.button { 
	background-color: $primary !important;
}

/**
 * @atom Secondary Button
 * @section Buttons
 * @markup
 * 	<button class="ui button">
 *  	Cool secondary button
 * 	</button>
 */
button.ui.button{ 
	background-color: $color-lightgray !important;
}

/**
 * @atom Text field
 * @section Input
 * @markup
 *  <div class="ui input">
 *   <input type="text" placeholder="Name">
 *  </div>
 */
div.input{}

/**
 * It is strongly recommended that the label is always to the right of the checkbox for the sake of readability.
 *
 * @atom Checkbox
 * @section Input
 * @markup
 * <form class="ui">
 *  <div class="ui">
 *     <div class="none">
 *      <div class="ui checkbox">
 *         <input type="checkbox" name="accept" tabindex="0" class="hidden">
 *         <label>I confirm my attendance to summer camp.</label>
 *       </div>
 *     </div>
 *   </div>
 * </form>
 */
form{}


/**
 * Select control might consider autocomplete to ease the search experience.
 * @atom Select
 * @section Input
 * @markup
 * <div class="ui form">
 *  <div class="field">
 *      <div class="ui selection dropdown">
 *          <input name="gender">
 *          <i class="dropdown icon"></i>
 *          <div class="default text">Gender</div>
 *          <div class="menu">
 *              <div class="item" data-value="1">Male</div>
 *              <div class="item" data-value="0">Female</div>
 *          </div>
 *      </div>
 *  </div>
 * </div>
 */
div{ /*...*/ }

/**
 * Clickable cards which show an image and a short caption.
 * 
 * @molecule Card
 * @section Container
 * @markup
 *  <div class="ui card">
 *      <div class="image">
 *        <img src="https://images.adsttc.com/media/images/5ab1/b0ef/f197/cc7d/4900/010e/medium_jpg/Monterrey_Tec_Library_01.jpg?1521594599">
 *      </div>
 *      <div class="content">
 *        <a class="header">Tec de Monterrey</a>
 *      </div> 
 *   </div>
 */
div{}

/**
 * Minimalist navigation bar to provide just enough context on where the user stands in the application. 
 *
 * @molecule Navigation Bar
 * @section Bar
 * @markup
 *  <div class="ui secondary pointing menu">
 *   <a class="active item">
 *    About us
 *  </a>
 *  <a class="item">
 *    Locations
 *  </a>
 *  <a class="item">
 *    News
 *  </a>
 * </div>
 * <div class="ui segment">
 *  <p></p>
 * </div>
 */
.ui.secondary.pointing.menu{
 	.active.item{
 		color: $primary !important;
 		border-color: $primary !important;
 	}
 	color: $color-gray !important;
}

/**
 * Because the application is about managing logistics in the easiest way possible, steps are helpful to guide the user through a linear process.
 *
 * @structure Steps
 * @markup
 * <div class="ui two column grid">
 *   <div class="column">
 *     <div class="ui fluid vertical steps">
 *       <div class="completed step">
 *         <i class="truck icon"></i>
 *         <div class="content">
 *           <div class="ui styled accordion">
 *  		  <div class="title">
 *  		    <i class="dropdown icon"></i>
 *  		    Choose your location
 *  		  </div>
 *  		  <div class="content">
 *  		    <p class="transition">This might or might not in the future be a form where a user could maybe add or edit their data (just a thought).</p>
 *  		  </div>
 *  		 </div>
 *         </div>
 *       </div>
 *       <div class="completed step">
 *         <i class="truck icon"></i>
 *         <div class="content">
 *           <div class="ui styled accordion">
 *  		  <div class="title">
 *  		    <i class="dropdown icon"></i>
 *  		    Complete your data
 *  		  </div>
 *  		  <div class="content">
 *  		    <p class="transition">This might or might not in the future be a form where a user could maybe add or edit their data (just a thought).</p>
 *  		  </div>
 *  		 </div>
 *         </div>
 *       </div>
 *       <div class="active step">
 *         <i class="file pdf icon"></i>
 *         <div class="content">
 *           <div class="ui styled accordion">
 *  		  <div class="title active">
 *  		    <i class="dropdown icon"></i>
 *  		    Upload your file
 *  		  </div>
 *  		  <div class="content active">
 *  		    <p class="transition">Upload the signed agreement here. It will be reviewed in the future.</p>
 *  		  </div>
 *  		 </div>
 *         </div>
 *       </div>
 *     </div>
 *   </div>
 * </div>
 *
 */
 div{
	&.ui.styled.accordion{ 
		box-shadow: none !important;
	}
	&.ui.fluid.vertical.steps{
		border-color: $color-gray !important;
	}
	&.step.completed{
		.title{
			color: $color-gray !important;
		}
	}
	&.active.step{
	   background: white !important;
	}
	&.active.step::after{
	   content: none !important;
	}
	&.content{
		width: 90% !important;
	}
}

.App {
	text-align: center;
	color: red;
	.myclassname {
		font-size: 20px;
		.myinnerclass {
			border-radius: 10px;
			.hello & {
				color: orange;
			}
		}
	}
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 40vmin;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
